/* *** Theme Colours *** */
:root {
    --gold: #F2A71B;
    --lightgrey: #262626;
    --darkgrey: #181818;
    --isFocused: #0FFF45;
    --isFocusedBG: #575757;
}

/* *** Focus Highlight *** */
*:focus {
    outline: dashed var(--isFocused);
    border: none;
}

/* *** Elements *** */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gold);
}

body {
    background: repeating-linear-gradient(45deg, var(--darkgrey) 1px, var(--lightgrey) 9px)
    
}

main {
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    width: 100%;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    padding-right: 10%;
    background-color: var(--darkgrey);
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
    height: 40px;
}

nav a {
    text-decoration: none;
    font-size: 1.5em;
}

ol, p {
    line-height: 1.6em;
}

/* * Buttons * */
button {
    width: 100%;
    font-size: 1.5em;
    background-color: var(--darkgrey);
    border: 1px solid var(--gold);
}
/* Standard Button Hover */
button:hover {
    color: var(--darkgrey);
    background-color: var(--gold);
    border-color: var(--darkgrey);
}

/* Focused Button */
button:active:focus {
    color: var(--isFocused);
    background-color: var(--isFocusedBG);
    outline: dashed var(--isFocused);
}


/* *** Classes *** */
/* ** General ** */
.nav_buttons_wrapper {
    width: 20%;
    display: flex;
}

.nav_buttons_wrapper button {
    margin-left: 10px;
}

.page_card {
    background-color: var(--darkgrey);
    border: 2px solid var(--gold);
    border-radius: 4%;
    padding: 2%;
    margin: 2% 0%;
}

.page_card_section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card_content_wrapper {
    width: 60%;
}

.card_img {
    width: 30%;
}

.hr {
    margin: 2% 0;
    border-color: var(--gold);
}

/* ** Index Portfolio Section ** */
.portfolio_cards_wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.portfolio_card {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.portfolio_card img {
    margin: 0 auto;
}

.portfolio_card img {
    width: 60%;
}

.portfolio_card h3 {
    text-align: center;
}

/* * Index Portfolio Buttons * */
.portfolio_card_buttons_wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

/* ** Individual Projects Section ** */
.project_img {
    width: 60%;
    margin: 0 auto;
}

/* ** Popout Window Section ** */
.popout_dark_bg {
    display: none;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.popout_wrapper {
    display: none;
    position: fixed;
    top: 3%;
    left: 30%;
    opacity: 1;
    width: 47%;
}

.close_popout {
    width: 10%;
    position: absolute;
    right: 10%;
}

.popout_portfolio_button {
    width: 20%;
    position: absolute;
    bottom: .5%;
    right: 10%;
}


/* *** ID's *** */
/* ** Index ID's ** */
#profile_img {
    width: 20%;
}